body {
  overflow: hidden; }

::-webkit-scrollbar {
  width: 15px; }
  ::-webkit-scrollbar-track {
    background: #858585; }
  ::-webkit-scrollbar-thumb {
    background: #adadad; }
    ::-webkit-scrollbar-thumb:hover {
      background: #cecece; }

#swatches {
  max-width: 250px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #b6b6b6;
  z-index: 1000;
  /* SLIDER HANDLE */ }
  #swatches .sliders {
    display: grid;
    grid-template-rows: 10% 90% 10% 90%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    width: 150px;
    margin: 0 auto; }
  #swatches input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 200px;
    height: 30px;
    /* background: gray; */
    opacity: 0.7;
    transition: opacity 0.2s;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    margin: 10px; }
  #swatches input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 40px;
    background: rgba(255, 255, 255, 0.486);
    border: 2px solid white;
    cursor: pointer; }
  #swatches label {
    margin-top: 10px; }
  #swatches #hue {
    grid-row: 1/2;
    grid-column: 1/2; }
  #swatches .hue {
    grid-column: 1/2;
    grid-row: 2/3;
    background: linear-gradient(to right, red 0%, #ff8000 8.3%, yellow 16.6%, #80ff00 25%, lime 33.3%, #00ff80 41.6%, cyan 50%, #0080ff 58.3%, blue 66.6%, #8000ff 75%, magenta 83.3%, #ff0080 91.6%, red 100%); }
  #swatches #saturation {
    grid-column: 2/3;
    grid-row: 1/2; }
  #swatches .saturation {
    grid-column: 2/3;
    grid-row: 2/3;
    background: linear-gradient(to right, black, black); }
  #swatches #brightness {
    grid-column: 1/2;
    grid-row: 3/4; }
  #swatches .brightness {
    grid-column: 1/2;
    grid-row: 4/5;
    background: linear-gradient(to right, black, white); }
  #swatches #brushSize {
    grid-column: 2/3;
    grid-row: 3/4; }
  #swatches .brushSize {
    grid-column: 2/3;
    grid-row: 4/5;
    background: gray;
    height: 100px;
    width: 25px; }
  #swatches .color {
    margin: 50px;
    width: 100px;
    height: 100px;
    background: black; }

.canvasLayers {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex; }
  .canvasLayers .canvasContainer {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background: url(./checker.png), repeat; }
    .canvasLayers .canvasContainer > canvas {
      position: absolute;
      top: 0;
      border: 1px solid black;
      width: 500px;
      height: 500px;
      pointer-events: none; }

.layerPanel {
  width: 250px;
  /* height: 100%; */
  /*     max-height: 80vh; */
  background: #707070;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }
  .layerPanel__layerList {
    overflow-y: scroll;
    height: 98%; }
  .layerPanel__layers {
    background: #929292;
    height: 70px;
    width: 100%;
    z-index: 1;
    border: 1px solid #888888;
    display: flex;
    align-items: center; }
    .layerPanel__layers > input {
      margin: 0 15px;
      width: 20px;
      height: 20px; }
    .layerPanel__layers p {
      font: normal normal 500 14px Roboto;
      letter-spacing: 0.2em;
      color: #535353;
      margin: 10px; }
  .layerPanel__buttons {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #c7c7c7; }
    .layerPanel__buttons button {
      border: 1px solid #e0e0e0;
      background: transparent;
      height: 30px;
      margin: 10px; }
      .layerPanel__buttons button:hover {
        background: #d8d8d8; }

.selected {
  background: #bdbdbd;
  z-index: 999; }
  .selected p {
    color: white; }

.selectedCanvas {
  /* pointer-events: all; */
  background: transparent;
  /* z-index: 999; */ }
